// Here you can add other styles

.icon-button {
  background-color: transparent;
  border: none;
  cursor:pointer;
  color:white;
}

.custom-hyperlink {
  color: #20a8d8;
  text-decoration: underline;
  cursor: pointer;
}

.custom-card-header {
  padding: 5px 10px !important;
  margin: 0px !important;
}


 
